doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='/javascripts/game.js')
        script(type='text/javascript' src='/javascripts/game.js')
    body
        block content
